### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Meson

builddir

# Specic

./include/mcmp/proto.h
./include/mcmp/mcmp.h
./include/mcmp/time.h
./include/mcmp/utilities.h
./include/mcmp/log.h
./src/common/mcmp.c
./src/linux/mcmp.c
./src/linux/time.c
./src/linux/utilities.c
./test/
./cli/

./utilities/include/mcmp/util/queue.h
./utilities/src/common/queue.c